{% extends 'BseSelectionBundle::layout.html.twig' %}

{% block subTitle %}Selection{% endblock %}

{% block content %}        
        

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">               
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Erreurs</h4>
              </div>              
              <div class="modal-body">
                <div id="form-erros" style="color:rgb(213, 0, 0);">
                    <p>{{ form_errors(form) }}</p>
                </div>  
              </div>              
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Réessayer</button>               
              </div>
            </div>
          </div>
        </div>  
        <script>
            $(document).ready(function() {
                
            });
        </script>

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <br/>

        {{ form_start(form, {'method': 'POST', 'attr': {'id': 'selectionForm'}} ) }}
        <h4 style"> Age :</h4>
        <div class="row">
            <div class="form-group col-md-6">
                <label>18 à 22</label>            
                <select id="{{ form.ageFrom18To22.vars.id }}" name="{{ form.ageFrom18To22.vars.full_name }}" class="form-control input-sm">
                    {% for i in 0..10 %}
                        <option value="{{ i }}">{{ i }}</option><?php } ?>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>23 à 25</label>            
                <select id="{{ form.ageFrom23To25.vars.id }}" name="{{ form.ageFrom23To25.vars.full_name }}" class="form-control input-sm">
                    {% for i in 0..10 %}
                        <option value="{{ i }}">{{ i }}</option><?php } ?>
                    {% endfor %}
                </select>
            </div>
        </div>        
        <div class="row">
            <div class="form-group col-md-4">
                <label>UIT : </label>            
                <select id="{{ form.etablissement.vars.id }}" name="{{ form.etablissement.vars.full_name }}" class="form-control input-sm">
                    {% for i in 0..10 %}
                        <option value="{{ i }}">{{ i }}</option><?php } ?>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Type diplôme</label>            
                <select id="{{ form.typeDiplome.vars.id }}" name="{{ form.typeDiplome.vars.full_name }}" class="form-control input-sm">
                    {% for i in 0..10 %}
                        <option value="{{ i }}">{{ i }}</option><?php } ?>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Type diplôme</label>            
                <select id="{{ form.typeSysteme.vars.id }}" name="{{ form.typeSysteme.vars.full_name }}" class="form-control input-sm">
                    {% for i in 0..10 %}
                        <option value="{{ i }}">{{ i }}</option><?php } ?>
                    {% endfor %}
                </select>
            </div>
        </div>
        <h4 style"> DUREE LICENCE :</h4>
        <div class="row">
            <div class="form-group col-md-4">
                <label>3 à 4 ans : </label>            
                <select id="{{ form.dureeLicenceFrom3To4.vars.id }}" name="{{ form.dureeLicenceFrom3To4.vars.full_name }}" class="form-control input-sm">
                    {% for i in 0..10 %}
                        <option value="{{ i }}">{{ i }}</option><?php } ?>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>5 à 6 ans</label>            
                <select id="{{ form.dureeLicenceFrom5To6.vars.id }}" name="{{ form.dureeLicenceFrom5To6.vars.full_name }}" class="form-control input-sm">
                    {% for i in 0..10 %}
                        <option value="{{ i }}">{{ i }}</option><?php } ?>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>7 à 8 ans</label>            
                <select id="{{ form.dureeLicenceFrom7To8.vars.id }}" name="{{ form.dureeLicenceFrom7To8.vars.full_name }}" class="form-control input-sm">
                    {% for i in 0..10 %}
                        <option value="{{ i }}">{{ i }}</option><?php } ?>
                    {% endfor %}
                </select>
            </div>
        </div>
        <h4 style"> MENTIONS :</h4>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Assez bien </label>            
                <select id="{{ form.mentionAssezBien.vars.id }}" name="{{ form.mentionAssezBien.vars.full_name }}" class="form-control input-sm">
                    {% for i in 0..10 %}
                        <option value="{{ i }}">{{ i }}</option><?php } ?>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Bien</label>            
                <select id="{{ form.mentionBien.vars.id }}" name="{{ form.mentionBien.vars.full_name }}" class="form-control input-sm">
                    {% for i in 0..10 %}
                        <option value="{{ i }}">{{ i }}</option><?php } ?>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Très bien</label>            
                <select id="{{ form.mentionTresBien.vars.id }}" name="{{ form.mentionTresBien.vars.full_name }}" class="form-control input-sm">
                    {% for i in 0..10 %}
                        <option value="{{ i }}">{{ i }}</option><?php } ?>
                    {% endfor %}
                </select>
            </div>
        </div>


        <br/>   
        <div>
            <input type="button" id="execute" class="btn btn-success btn-sm" value="Exécuter"/>            
        </div>

        <script>
        $(document).ready(function() {

            $('#execute').click(function() {
                alert('test');
                var formData = $("#selectionForm").serializeArray();
                var URL = $("#selectionForm").attr("action");
                $.post(URL,
                    formData,
                    function(data, textStatus, jqXHR)
                    {
                        //alert(data);
                        $('#myModal .modal-body').html(data);
                        $('#myModal').modal('show');
                       //data: Data from server.    
                    }).fail(function(jqXHR, textStatus, errorThrown) 
                    {
                 
                    });
                });
        });
        </script>

        {{ form_end(form,{'render_rest': false}) }} 
{% endblock %}
