{% extends 'BseSelectionBundle::layout.html.twig' %}

{% block content %}
        <style>
        .form-inline label{ width:150px;}
        h4{color: #bbb; text-transform: uppercase; font-size: 12px; border-top: 1px solid #eee; padding: 10 0 0 0;}
        .modal h4{ border:none; padding:0;}
        #scoresModulesContainer .row {padding:10px 0;}
        </style>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Résultat</h4>
              </div>
              <div class="modal-body">
                <div id="form-erros" style="color:rgb(213, 0, 0);">
                    <p>{{ form_errors(form) }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <br/>
        {{ form_start(form, {'method': 'POST', 'attr': {'id': 'selectionForm', 'enctype':'multipart/form-data'}} ) }}
        <div class="row" style="margin-top:50px">
            <div class="form-inline col-md-4">
                <label>Faculté :</label>
                <select id="{{ form.faculte.vars.id }}" name="{{ form.faculte.vars.full_name }}" class="form-control input-sm" style="width:200px">
                    <option value="FS" {% if cookieFaculte == 'FS' %}selected{% endif %}>Faculté des sciences</option>
                    <option value="FL" {% if cookieFaculte == 'FL' %}selected{% endif %}>Faculté des Lettres et des Sciences Humaines Kénitra</option>
                    <option value="FD" {% if cookieFaculte == 'FD' %}selected{% endif %}>Faculté des Sciences Juridiques, Economiques et Sociales</option>
                </select>
            </div>
            <div class="form-inline col-md-8">
                <label>Fichier :</label>

                <input type="file" name="fichierCandidatures" style="display:inline">
                {% if cookieFichierCandidaturesExists %}<div style="padding:5px 0"><div class="label label-info">Le dernier fichier sera utilisé si aucun fichier n'est choisi</div></div>{% endif%}
            </div>
        </div>
        <br/>
        <h4>Age</h4>
        <div class="row">
            <div class="form-inline col-md-4">
                <label>18 à 22 :</label>
                <select id="{{ form.ageFrom18To22.vars.id }}" name="{{ form.ageFrom18To22.vars.full_name }}" class="form-control input-sm" style="width:60px">
                    {% for i in 0..10 %}
                        <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-inline col-md-4">
                <label>23 à 25 :</label>
                <select id="{{ form.ageFrom23To25.vars.id }}" name="{{ form.ageFrom23To25.vars.full_name }}" class="form-control input-sm" style="width:60px">
                    {% for i in 0..10 %}
                        <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br/>
        <h4>Diplôme</h4>
        <div class="row">
            <div class="form-inline col-md-4">
                <label>Diplôme de l'UIT : </label>
                <select id="{{ form.etablissement.vars.id }}" name="{{ form.etablissement.vars.full_name }}" class="form-control input-sm" style="width:60px">
                    {% for i in 0..10 %}
                        <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-inline col-md-4">
                <label>Type du diplôme :</label>
                <select id="{{ form.typeDiplome.vars.id }}" name="{{ form.typeDiplome.vars.full_name }}" class="form-control input-sm" style="width:60px">
                    {% for i in 0..10 %}
                        <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                <select id="{{ form.typeDiplomeLFouLP.vars.id }}" name="{{ form.typeDiplomeLFouLP.vars.full_name }}" class="form-control input-sm" style="width:60px">
                    <option value="LF">LF</option>
                    <option value="LP">LP</option>
                </select>
            </div>
            <div class="form-inline col-md-4">
                <label>Type du système :</label>
                <select id="{{ form.typeSysteme.vars.id }}" name="{{ form.typeSysteme.vars.full_name }}" class="form-control input-sm" style="width:60px">
                    {% for i in 0..10 %}
                        <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                <select id="{{ form.typeSystemeLMDouAncien.vars.id }}" name="{{ form.typeSystemeLMDouAncien.vars.full_name }}" class="form-control input-sm" style="width:60px">
                    <option value="LMD">LMD</option>
                    <option value="Ancien">Ancien</option>
                </select>
            </div>
        </div>
        <br/>
        <h4>Durée d'obtention de la licence</h4>
        <div class="row">
            <div class="form-inline col-md-4">
                <label>3 à 4 ans : </label>
                <select id="{{ form.dureeLicenceFrom3To4.vars.id }}" name="{{ form.dureeLicenceFrom3To4.vars.full_name }}" class="form-control input-sm" style="width:60px">
                    {% for i in 0..10 %}
                        <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-inline col-md-4">
                <label>5 à 6 ans :</label>
                <select id="{{ form.dureeLicenceFrom5To6.vars.id }}" name="{{ form.dureeLicenceFrom5To6.vars.full_name }}" class="form-control input-sm" style="width:60px">
                    {% for i in 0..10 %}
                        <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-inline col-md-4">
                <label>7 à 8 ans :</label>
                <select id="{{ form.dureeLicenceFrom7To8.vars.id }}" name="{{ form.dureeLicenceFrom7To8.vars.full_name }}" class="form-control input-sm" style="width:60px">
                    {% for i in 0..10 %}
                        <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br/>
        <h4>Mentions</h4>
        <div class="row">
            <div class="form-inline col-md-4">
                <label>Assez bien :</label>
                <select id="{{ form.mentionAssezBien.vars.id }}" name="{{ form.mentionAssezBien.vars.full_name }}" class="form-control input-sm" style="width:60px">
                    {% for i in 0..10 %}
                        <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-inline col-md-4">
                <label>Bien :</label>
                <select id="{{ form.mentionBien.vars.id }}" name="{{ form.mentionBien.vars.full_name }}" class="form-control input-sm" style="width:60px">>
                    {% for i in 0..10 %}
                        <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-inline col-md-4">
                <label>Très bien :</label>
                <select id="{{ form.mentionTresBien.vars.id }}" name="{{ form.mentionTresBien.vars.full_name }}" class="form-control input-sm" style="width:60px">>
                    {% for i in 0..10 %}
                        <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="scoresModulesContainer" style="display:none;">
        <h4>Modules</h4>
            <div class="row">
                <div class="form-inline col-md-4">
                    <label>Module 1 - >=5 <10 :</label>
                    <select id="{{ form.noteM1From5To10.vars.id }}" name="{{ form.noteM1From5To10.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline col-md-4">
                    <label>>=10 <15:</label>
                    <select id="{{ form.noteM1From10To15.vars.id }}" name="{{ form.noteM1From10To15.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline col-md-4">
                    <label>>=15 <=20 :</label>
                    <select id="{{ form.noteM1From15To20.vars.id }}" name="{{ form.noteM1From15To20.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-inline col-md-4">
                    <label>Module 2 - >=5 <10 :</label>
                    <select id="{{ form.noteM2From5To10.vars.id }}" name="{{ form.noteM2From5To10.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline col-md-4">
                    <label>>=10 <15:</label>
                    <select id="{{ form.noteM2From10To15.vars.id }}" name="{{ form.noteM2From10To15.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline col-md-4">
                    <label>>=15 <=20 :</label>
                    <select id="{{ form.noteM2From15To20.vars.id }}" name="{{ form.noteM2From15To20.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-inline col-md-4">
                    <label>Module 3 - >=5 <10 :</label>
                    <select id="{{ form.noteM3From5To10.vars.id }}" name="{{ form.noteM3From5To10.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline col-md-4">
                    <label>>=10 <15:</label>
                    <select id="{{ form.noteM3From10To15.vars.id }}" name="{{ form.noteM3From10To15.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline col-md-4">
                    <label>>=15 <=20 :</label>
                    <select id="{{ form.noteM3From15To20.vars.id }}" name="{{ form.noteM3From15To20.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-inline col-md-4">
                    <label>Module 4 - >=5 <10 :</label>
                    <select id="{{ form.noteM4From5To10.vars.id }}" name="{{ form.noteM4From5To10.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline col-md-4">
                    <label>>=10 <15:</label>
                    <select id="{{ form.noteM4From10To15.vars.id }}" name="{{ form.noteM4From10To15.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline col-md-4">
                    <label>>=15 <=20 :</label>
                    <select id="{{ form.noteM4From15To20.vars.id }}" name="{{ form.noteM4From15To20.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-inline col-md-4">
                    <label>Module 5 - >=5 <10 :</label>
                    <select id="{{ form.noteM5From5To10.vars.id }}" name="{{ form.noteM5From5To10.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline col-md-4">
                    <label>>=10 <15:</label>
                    <select id="{{ form.noteM5From10To15.vars.id }}" name="{{ form.noteM5From10To15.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline col-md-4">
                    <label>>=15 <=20 :</label>
                    <select id="{{ form.noteM5From15To20.vars.id }}" name="{{ form.noteM5From15To20.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-inline col-md-4">
                    <label>Module 6 - >=5 <10 :</label>
                    <select id="{{ form.noteM6From5To10.vars.id }}" name="{{ form.noteM6From5To10.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline col-md-4">
                    <label>>=10 <15:</label>
                    <select id="{{ form.noteM6From10To15.vars.id }}" name="{{ form.noteM6From10To15.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-inline col-md-4">
                    <label>>=15 <=20 :</label>
                    <select id="{{ form.noteM6From15To20.vars.id }}" name="{{ form.noteM6From15To20.vars.full_name }}" class="form-control input-sm" style="width:60px">
                        {% for i in 0..10 %}
                            <option value="{{ i }}" {% if i == 5 %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>
        <hr/>
        <div>
            <div class="row" style="text-align:center">
                <div id="loadingIndicator" class="btn btn-success btn-sm" style="background-color:white; color:#000; border-color:#ccc; width: 220px; display:none;"><img src="{{ asset('bundles/bseselection/images/ajax-loader.gif') }}"/>&nbsp;&nbsp;Traitement en cours...</div>
            </div>
            <div style="text-align:center">
                <input type="submit" id="btnExecute" class="btn btn-success btn-sm" value="Lancer la préseléction" style="width: 220px;"/>
            </div>

        </div>

        <script>
        $(document).ready(function() {

             $( '#selectionForm' ).submit( function( e ) {   
                $('#loadingIndicator').show();
                $('#btnExecute').hide();

                var URL = $("#selectionForm").attr('action');
                e.preventDefault();
                $.ajax( {
                  url: URL,
                  type: 'POST',
                  data: new FormData( this ),
                  processData: false,
                  contentType: false
               }).done(function(data) {
                    $('#myModal .modal-body').html(data);
                    $('#myModal').modal('show');

                    $('#loadingIndicator').hide();
                    $('#btnExecute').show();

                }).fail(function(jqXHR,status, errorThrown) {
                    $('#myModal .modal-body').html(errorThrown);
                    //$('#myModal .modal-body').html(jqXHR.responseText);
                    //$('#myModal .modal-body').html(jqXHR.status);
                    $('#myModal').modal('show');

                    $('#loadingIndicator').hide();
                    $('#btnExecute').show();
                });
            });

            {% if cookieFaculte == 'FD' %}
            $('#scoresModulesContainer').show();
            {% endif %}

            $('#{{ form.faculte.vars.id }}').change(function () {
                //alert($(this).val());
                if($(this).val() =='FD'){
                    $('#scoresModulesContainer').show();
                }else{
                    $('#scoresModulesContainer').hide();
                }
            });
        });
        </script>

        {{ form_end(form,{'render_rest': false}) }}
{% endblock %}
