{% extends 'BseCandidatureBundle::layout.html.twig' %}

{% block subTitle %}Dossier de candidature{% endblock %}

{% block content %}        

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <br/>
        <h4>N° du dossier : {{candidature.id}}</h4>        
        <h4>Vous êtes candidat aux filières suivantes :</h4>        
        <br/>        
        <ul>
        {% for filiere in filieresChoosed %}
            <li style="margin-bottom: 15px;">
                <b class="label label-info" style="font-size:12px">{{ filiere }}</b>
            </li>
        {% endfor %}
        </ul>  
        <br/>
        <a href="{{ path('bse_candidature_generatePdf') }}">
            Télécharger en PDF
        </a>
        <br/><hr/>        
        <a class="btn btn-success btn-sm" href="{{ path('candidature_edit', { 'id': candidature.id }) }}">
            Modifier votre candidature
        </a>
        <a class="btn btn-danger btn-sm" href="{{ url('fos_user_security_logout') }}">
            Deconnexion
        </a>        
{% endblock %}
