{% extends 'BseCandidatureBundle::layout.html.twig' %}

{% block subTitle %}Accueil {% endblock %}

{% block content %}
	<br/><br/><br/>
    <div class="row">
	    <div class="col-xs-12 col-sm-6">
	    	<h4>Voulez-vous déposer une nouvelle candidature ?</h4>
	    	<hr/>
	    	<p>S'il s'agit de votre toute première candidature et que vous ne disposez pas de dossier de candidature, vous allez devoir déposer votre candidature en cliquant sur le button ci-dessous.<br/><br/>    	
	    	<a href="{{ url('candidature_procedure') }}"><button type="button" id="btnLogin" class="btn btn-success btn-sm">Nouvelle candidature</button></a>
	    	</p>
	    </div>
	    <div class="col-xs-12 col-sm-6">
	    	<h4>Vous disposez déjà d'un dossier</h4>
	    	<hr/>
	    	<p>Saisissez votre email et mot de passe pour consulter votre dossier.</p>
	    	{% if error %}
			    <div class="alert alert-danger" role="alert">{{ error|trans({}, 'FOSUserBundle') }}</div>
			{% endif %}
	    	<form class="form" action="{{ path("fos_user_security_check") }}" method="post"> 
	    		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                
                <input name="_username" id="email" type="text" value="{{ last_username }}" placeholder="Email" class="form-control input-sm" required="required" ><br/> 
                
                <input name="_password" required="required"  type="password" placeholder="Mot de passe" class="form-control input-sm"><br>
                
                <input type="submit" required="required" class="btn btn-info btn-sm pull-left" value="Accèder à mon dossier"/>
                <div><div><a data-toggle="modal" href="{{ url('fos_user_resetting_request') }}" style="display: block;margin:5px 157px 0">Mot de passe oublié ?</a></div></div>
            </form>
	    </div>
	    <div class="col-xs-12 col-sm-12" style="margin-top:70px">
	    	<p style="text-align:center"><b>Contact</b> : <u>echarfaoui@hotmail.com</u></p>
	    </div>
	</div>
{% endblock %}
